/* .navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.message {
    font-weight: 600;
    color: blue;
}

input[name=message] {
    width: 80%
}

.message_list th,td {
    text-align: left;
    padding-right: 15px;
} */

/* .h1.wsu-c-heading::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    display: block;
    width: 2.25em;
    height: 0.075em;
    content: "";
    background-color: #ca1237;
}

.h1.wsu-c-heading {
    color: #ca1237
} */

.header-em {
    color: darkblue
}

/* .h2 {
    background-color: blueviolet;
} */

.save {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 48px;
    padding-right: 48px;
    background-color: #ca1237;
    border-radius: 7px;
    --bs-btn-border-color: #ca1237;
    --bs-btn-hover-bg: #4d4d4d;
    transition-property: all;
    transition-duration: 0.333s;
    transition-timing-function: cubic-bezier(0, 0, 0.03, 1);
    transition-delay: 0s;
    font-weight: 600;
    display: inline;
}

.btn-simple {
    background-color: #ca1237;
    border-radius: 7px;
    --bs-btn-border-color: #ca1237;
    --bs-btn-hover-bg: #4d4d4d;
    transition-property: all;
    transition-duration: 0.333s;
    transition-timing-function: cubic-bezier(0, 0, 0.03, 1);
    transition-delay: 0s;
    font-weight: 600;
    display: inline;
}

.header-em {
    color: #ca1237;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #ca1237;
}

.percent::after {
    content: '%';
}

.gravatar {
    border-radius: 50% !important;
}

.field-title {
    width: 10em;
    text-align: right;
}

@media print {
    h1 {
        color: #000;
        background: none;
        font-size: 30pt;
    }

    nav,
    aside,
    header,
    .svg-inline--fa,
    .screen-only,
    .debug {
        display: none;
    }



    body,
    article {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #django-debug {
        display: none;
    }

    @page {
        size: letter;
    }
}
