{% load purchases_extras %}
{% load i18n %}
<div class="col">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Part Number</th>
        <th>Name</th>
        <th>Type</th>
        <th>Created Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for o in list %}
        <tr>
          <td>
            <a href="{{ o.get_absolute_url }}">{{ o.number }}</a>
          </td>
          <td class="text-truncate">{{ o.name }}</td>
          <td>{{ o.type }}</td>
          <td>{{ o.created_date }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a href="{% url 'update_tracker' o.pk %}?next={{ request.get_full_path }}"><i class="fa-solid fa-arrows-rotate px-1"></i></a>
              <a href="{% url 'admin:purchases_tracker_change' o.pk %}"><i class="fa-solid fa-pencil px-1"></i></a>
              <a href="{% url 'tracker_delete' pk=o.pk %}?next={{ request.get_full_path }}">
                <i class="fa-solid fa-trash-can px-1"></i>
              </a>
            </div>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="8" class="text-center">No matching parts.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
