{% extends "purchases/layout.html" %}
{% load widget_tweaks %}
{% block title %}
    Add New Product
{% endblock %}
{% block content %}

{% comment %} <h1 name class="wsu-c-heading">Add New <span class="header-em">Product<span></h1> {% endcomment %}

<div class="container mt-4">
    <form method="post">
        {% csrf_token %}
        <div class="card col">
            <div class="card-header">
                <h4>Create <span class="header-em">Product</span></h4>
            </div>
            <div class="card-body">
                {{ form.non_form_errors }}
                <table>
                    {{ form.as_table }}
                </table>
            </div>
        </div>
        {% comment %} <div class="col-4"> {% endcomment %}
            <button type="submit" class="save btn btn-primary">Save</button>
        {% comment %} </div> {% endcomment %}
    </form>
</div>
{% endblock %}
