{% extends "purchases/layout.html" %}
{% load widget_tweaks %}
{% block title %}
    Add New Product
{% endblock %}
{% block content %}

<h1 name class="wsu-c-heading">Add New Product</h1>

<form method="POST" class="row g-3">
    {% csrf_token %}
    <div class="col-md-6">
        <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>
        {{ form.name|add_class:'form-control' }}
    </div>
    <div class="col-md-4">
        <label for="{{ form.identifier.id_for_label }}" class="form-label">{{ form.identifier.label }}</label>
        {{ form.identifier|add_class:'form-control' }}
    </div>
    <div class="col-12">
        <label for="{{ form.description.id_for_label}}" class="form-label">{{ form.description.label }}</label>
        {{ form.description|add_class:'form-control' }}
    </div>
    <div class="col-6">
        <label for="{{ form.original_manufacturer.id_for_label }}" class="form-label">{{ form.original_manufacturer.label }}</label>
        {{ form.original_manufacturer|add_class:'form-select' }}
    </div>
    <div class="col-12">
        <label for="{{ form.specification.id_for_label }}" class="form-label">{{ form.specification.label }}</label>
        {{ form.specification|add_class:'form-control' }}
    </div>
    <div class="col-6">
        <label for="{{ form.spec_sheet.id_for_label }}" class="form-label">{{ form.spec_sheet.label }}</label>
        {{ form.spec_sheet|add_class:'form-control' }}
    </div>
    <div class="col-6">
        <label for="{{ form.substitution.id_for_label }}" class="form-label">{{ form.substitution.label }}</label>
        {{ form.substitution|add_class:'form-select' }}
    </div>
    <div class="col-6">
        <label for="{{ form.approved_substitutes.id_for_label }}" class="form-label">Approved Subsititutes</label>
        {{ form.approved_substitutes|add_class:'form-select' }}
    </div>
    <div class="col-6">
        <label for="{{ form.approved_vendors.id_for_label }}" class="form-label">{{ form.approved_vendors.label }}</label>
        {{ form.approved_vendors|add_class:'form-select' }}
    </div>
    <div class="col-3">
        <label for="{{ form.last_price.id_for_label }}" class="form-label">{{ form.last_price.label }}</label>
        {{ form.last_price|add_class:'form-control' }}
    </div>
    <div class="col-6">
        <label for="{{ form.link.id_for_label }}" class="form-label">{{ form.link.label }}</label>
        {{ form.link|add_class:'form-control' }}
    </div>

    <div class="col-12">
      <button type="submit" class="save btn btn-primary">Save</button>
    </div>
  </form>
{% endblock %}

