{% extends 'purchases/detail_page.html' %}
{% block title %}{{ object.account.account_title }}{% endblock %}
{% block header %}Account{% endblock %}
{% block number %}{{ object.account.account_title }}{% endblock %}
{% block previous %}{{ object.get_previous_by_created_date.get_absolute_url }}{% endblock %}
{% block next %}{{ object.get_next_by_created_date.get_absolute_url }}{% endblock %}
{% block page %}

{% comment %} <a href="{% url 'update_pr' slug=object.slug %}">Edit</a>

<a href="{% url 'generate_pdf' slug=object.slug %}">PDF</a> {% endcomment %}

<div class="row mb-3">
    <div class="col-4">
        Updated {{ object.updated_datetime }}
    </div>
    <div class="col-12">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Workday: {{ object.account.program_workday }}</li>
            <li class="list-group-item">Balance: {{ object.balance }}</li>
        </ul>
    </div>
    {% if debug %}<div>debug ->count:{{ object.transaction_set.count }}</div>{% endif %}
    <div class="col-12">
        <div class="h4">Transactions</div>
            <div class="bd-example-snippet bd-code-snippet">
                <div class="bd-example">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Purchase Request</th>
                                <th scope="col">Date</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in object.transaction_set.all %}
                                <tr>
                                    <td><a href="{{ row.purchase_request.get_absolute_url }}">{{ row.purchase_request }}</a></td>
                                    <td>{{ row.processed_datetime }}</td>
                                    <td>{{ row.total_value }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% comment %} <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre> {% endcomment %}

{% endblock %}
