{% extends 'purchases/layout.html' %}
{% block title %}test{% endblock %}
{% block content %}

{% block navigation %}
    <div class="row mb-3">
        <h1 class="wsu-c-heading col-sm">{% block header %}{% endblock %} <span class="header-em">{% block number %}{% endblock %}</span></h1>
        
        {% comment %} {% block post_header %}{% endblock post_header %} {% endcomment %}

        <div class="btn-group col-3" role="group" aria-label="Navigation">
            <a href="{% block previous %}{% endblock %}" class="btn btn-secondary">Previous</a>
            <a href="{% block edit %}{% endblock %}" class="btn btn-secondary">Edit</a>
            <a href="{% block delete %}{% endblock %}" class="btn btn-secondary">Delete</a>
            <a href="{% block next %}{% endblock %}" class="btn btn-secondary">Next</a>
        </div>
    </div>
{% endblock navigation %}

{% block page %}{% endblock %}

{% block related_pr_table %}
{% if debug %}<div>debug ->count:{{ object.purchaserequest_set.count }}</div>{% endif %}
    <div class="col-12">
        <div class="h2">Related Purchase Requests</div>
            <div class="bd-example-snippet bd-code-snippet">
                <div class="bd-example">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Purchase Request</th>
                                <th>Vendor</th>
                                <th>User</th>
                                <th scope="col">Date</th>
                                <th>Status</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in object.purchaserequest_set.all %}
                                <tr>
                                    <td><a href="{{ row.get_absolute_url }}">{{ row }}</a></td>
                                    <td><a href="{{ row.vendor.get_absolute_url }}">{{ row.vendor }}</a></td>
                                    <td><a href="{{ row.requisitioner.get_absolute_url }}">{{ row.requisitioner.user.get_full_name }}</a></td>
                                    <td>{{ row.created_date|date:"DATE_FORMAT" }}</td>
                                    <td>{{ row.get_status_display }}
                                    <td>{{ row.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock related_pr_table %}

{% endblock %}