{% if filter_list %}

<style>
  .btn-link {
    --bs-link-color: #ca1237;
  }
</style>

<div class="d-flex flex-column flex-row flex-shrink-0 p-3 bg-light ms-3" style="width: 280px;">
    <div class="text-center fw-bold">
        Filters
        <a href="{{ clear_filter_fragment }}" class="btn btn-link{% if not clear_filter_fragment %} disabled{% endif %}"><i class="fa-solid fa-xmark"></i></a>
    </div>
    <hr>
    {% for filter_name, filter_objects, clear_fragment in filter_list %}
        <div class="fw-semibold mt-3">
            {{ filter_name|title }}
            <a href="{{ clear_fragment }}" class="btn btn-link{% if not clear_fragment %} disabled{% endif %}"><i class="fa-solid fa-xmark"></i></a>
        </div>
        <ul class="nav nav-pills flex-column">
            {% for object, fragment, active in filter_objects %}
                    <a href="{{ fragment }}" class="nav-link link-dark py-0{% if active %} active{% endif %}">
                      {% if object.name %}
                        {{ object.name|truncatechars:20 }}
                      {% else %}
                        {{ object.user.get_full_name|truncatechars:20 }}
                      {% endif %}
                    </a>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
{% endif %}