{% extends "purchases/layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <h2>Recently Added Manufacturers</h2>
    {% load tz %}
    {% localtime on %}
    {% get_current_timezone as TIME_ZONE %}
    {% now "SHORT_DATETIME_FORMAT" as CURRENT_TIME_LOCAL %}
        <p>Local Time: {{ CURRENT_TIME_LOCAL }}</p>
    {% endlocaltime %}
    {% localtime off %}
    {% get_current_timezone as TIME_ZONE %}
    {% now "SHORT_DATETIME_FORMAT" as CURRENT_TIME_UTC %}
        <p>UTC Time: {{ CURRENT_TIME_UTC }}</p>
    {% endlocaltime %}
    <h3>Current Time: {% now "SHORT_DATETIME_FORMAT" %}</h3>
    {% if manufacturer_list %}
    <div class="bd-example-snippet bd-code-snippet"><div class="bd-example">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Date Added</th>
            <th scope="col">Name</th>
            <th scope="col">Website</th>
          </tr>
          </thead>
          <tbody>
            {% for manufacturer in manufacturer_list %}
                    <tr>
                        <td>{{ manufacturer.created_date | date:"DATETIME_FORMAT" }}</td>
                        <td>
                            {{ manufacturer.name }}
                        </td>
                        {% if manufacturer.website %}
                            <td><a href="{{ manufacturer.website }}">{{ manufacturer.website }}</a></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
          </tbody>
        </table>
        </div>
    </div>
    {% else %}
        <p>No manufacturers have been added. Use the <a href="{% url 'add_mfg' %}">Add Manufacturer</a> form</p>
    {% endif %}
{% endblock %}
