{% extends "purchases/layout.html" %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% comment %} {% load static %} {% endcomment %}
{% block title %}Create Ledger Item{% endblock %}
{% block content %}

<style>
    .hidden {
        display: none
    }

    .currency {
        width: 5em;
    }

    .quantity {
        width: 4em;
    }
</style>

<div class="container mt-4">
    <form method="post">
        {% csrf_token %}
        <div class="card col">
            <div class="card-header">
                <h4>Create <span class="header-em">Purchase Request</span></h4>
            </div>
            <div class="card-body">
                {{ form.non_form_errors }}
                <table>
                    {{ form.as_table }}
                </table>
            </div>
        </div>
        <div class="mt-3 mb-5">
            <button type="submit" class="save btn btn-primary">Save</button>
        </div>
    </form>
    {% comment %} <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Modal</button> {% endcomment %}
</div>

{% endblock %}
