{% extends 'purchases/layout.html' %}
{% block title %}{{ object.name }}{% endblock %}

{% block content %}

<div class="row mb-3">
    <h1 class="wsu-c-heading col-sm">Ledger Item {{ object.pk }}</h1>
</div>

<div class="row g-3">
    <ul class="list-group list-group-flush">
        {% if object.link %}<li class="list-group-item"><a href="{{ object.link }}" target="_blank" rel="noopener noreferrer">{{ object.link }}<i class="fa-solid fa-up-right-from-square" data-fa-transform="shrink-6 up-4"></i></a></li>{% endif %}
        <li class="list-group-item">Account: {{ object.account.account_title }}</li>
        <li class="list-group-item">Purchase Request: {{ object.purchase_request }}</li>
        <li class="list-group-item">Total: {{ object.total_value }}</li>
    </ul>
</div>

{% endblock %}
