{% extends "purchases/layout.html" %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block title %}Create Purchase Request{% endblock %}
{% block content %}

{% comment %} {% crispy form %} {% endcomment %}

{% comment %} <div class="container">
    <div class="card">
        <div class="card-header">
            Create Purchase Request
        </div>
        <div class="card-body">
             {% crispy form %}
        </div>
    </div>
</div> {% endcomment %}

<style>
    .hidden {
        display: none
    }
</style>

{% comment %} {{ form.requisitioner }} {% endcomment %}

<div class="container mt-4">
    <form method="post">
        {% csrf_token %}
        <div class="card col">
            <div class="card-header">
                <h4>Create <span class="header-em">Purchase Request</span></h4>
            </div>
            <div class="card-body">
                {{ form.non_form_errors }}
                <table>
                    {{ form.as_table }}
                </table>
                <p class="h1 text-info">Add Items</p>
                {{ purchase_request_items_formset.non_form_errors }}
                {{ purchase_request_items_formset.management_form }}
                <table id="item-table" class="table table-striped">
                    <thead class="text-bg-secondary">
                        <td width="50%">Product</td>
                        <td width="30%">Price</td>
                        <td width="20%">Quantity</td>
                    </thead>
                    <tbody id="item-table-body" class="{{ purchase_request_items_formset.prefix }}">
                        {% for form in purchase_request_items_formset %}
                            <tr class="item-row">
                                <td>{{ form.product }}</td>
                                <td>{{ form.price }}</td>
                                <td>{{ form.quantity }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="hidden">
                    <tr id="empty-row">
                        <td>{{ purchase_request_items_formset.empty_form.product }}</td>
                        <td>{{ purchase_request_items_formset.empty_form.price }}</td>
                        <td>{{ purchase_request_items_formset.empty_form.quantity }}</td>
                    </tr>
                </table>
                <button id="add-item" type="button" class="btn btn-secondary">Add Item</button>
            </div>
        </div>
        <div class="mt-3 mb-5">
            <button type="submit" class="save btn btn-primary">Save</button>
        </div>
    </form>
</div>

<script>
    const addRowBtn = document.getElementById('add-item')
    const totalNewForms = document.getElementById('id_purchaserequestitems_set-TOTAL_FORMS')

    addRowBtn.addEventListener('click', add_new_item)
    function add_new_item(event) {
        if (event) {
            event.preventDefault()
        }
        const currentItemCount = document.getElementById('item-table').rows.length
        const rowCopyTarget = document.getElementById('item-table-body')
        const copyEmptyRow = document.getElementById('empty-row').cloneNode(true)
        copyEmptyRow.setAttribute('id','')
        copyEmptyRow.setAttribute('class','item-row')
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyRow.innerHTML = copyEmptyRow.innerHTML.replace(regex, currentItemCount - 1)
        totalNewForms.setAttribute('value',currentItemCount)
        //console.log(totalNewForms)
        rowCopyTarget.append(copyEmptyRow)
    }
</script>

{% endblock %}