{% if page_obj.paginator.num_pages > 1 %}
<nav aria-label="Purchase request list pages">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="{{ previous_page_fragment }}" aria-label="Previous">
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
    {% endif %}
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for page, fragment in page_list %}
      {% if page != page_obj.paginator.ELLIPSIS %}
        {% if page != page_obj.number %}
          <li class="page-item"><a class="page-link" href="{{ fragment }}">{{ page }}</a></li>
        {% else %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
          </li>
        {% endif %}
      {% else %}
          <li class="page-item disabled"><a href="#" class="page-link">{{ page_obj.paginator.ELLIPSIS }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="{{ next_page_fragment }}" aria-label="Next">
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Next">
    {% endif %}
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endif %}