{% extends "purchases/layout.html" %}
{% block title %}
List of Products
{% endblock %}
{% block content %}

    <h1 class="wsu-c-heading">All <span class="header-em">Products</span></h1>
    <div style=text-align:right><a href="{% url 'add_product' %}" class="save btn btn-primary">New</a></div>

    {% if object_list %}
    <div class="bd-example-snippet bd-code-snippet"><div class="bd-example">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Vendor</th>
            <th scope="col">Link</th>
            <th scope="col">ID</th>
            <th scope="col">Created Date</th>
          </tr>
          </thead>
          <tbody>
            {% for o in object_list %}
            <tr>
                <td>
                    <a href="{{ o.get_absolute_url }}">{{ o.name }}</a>
                </td>
                <td><a href="{{ o.original_manufacturer.get_absolute_url }}">{{ o.original_manufacturer }}</a></td>
                {% if o.approved_vendors %}
                    <td><a href="{{ o.approved_vendors.get_absolute_url }}">{{ o.approved_vendors }}</a></td>
                {% else %}
                    <td>[none]</td>
                {% endif %}
                <td><a href="{{ o.link }}" target="_blank" rel="noopener noreferrer">Product Link<i class="fa-solid fa-up-right-from-square" data-fa-transform="shrink-6 up-4"></i></a></td>
                <td>{{ o.identifier }}</td>
                <td>{{ o.created_date }}</td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
        </div>
    </div>
    {% else %}
        <p>No products have been added. Use the <a href="{% url 'add_product' %}">Add Product</a> form</p>
    {% endif %}
{% endblock %}
