{% extends 'purchases/layout.html' %}
{% block title %}{{ object.name }}{% endblock %}

{% block content %}

<div class="row mb-3">
    <h1 class="wsu-c-heading col-sm">{{ object.name }}</h1>

    {% comment %} <div class="btn-group col-3" role="group" aria-label="Basic example"> {% endcomment %}
        <a href="{% url 'update_product' pk=object.id slug=object.slug %}" class="col-sm-1 btn btn-primary save">Edit</a>
    {% comment %} </div> {% endcomment %}
</div>

{% comment %} <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false" src="{{ object.picture.url }}"><title>Placeholder</title></img> {% endcomment %}
{% if object.picture %}
    <div class="col-md-4 float-end">
        <img class="img-thumbnail" src="{{ object.picture.url }}"></img>
    </div>
{% endif %}

<div class="row g-3">
    <ul class="list-group list-group-flush">
        {% if object.link %}<li class="list-group-item"><a href="{{ object.link }}" target="_blank" rel="noopener noreferrer">{{ object.link }}<i class="fa-solid fa-up-right-from-square" data-fa-transform="shrink-6 up-4"></i></a></li>{% endif %}
        <li class="list-group-item">Identifier (ASIN/PN/etc.): {{ object.identifier }}</li>
        <li class="list-group-item">Description: <p>{{ object.description|linebreaks }}</p></li>
        <li class="list-group-item">Manufacturer: <a href="{{ object.original_manufacturer.get_absolute_url }}">{{ object.original_manufacturer }}</a></li>
        <li class="list-group-item">
            Specifications: <p>{{ object.specification|linebreaks }}</p>
            {% if object.spec_sheet %}
                <a href="{{ object.spec_sheet.url }}" target="_blank" rel="noopener noreferrer">Spec Sheet<i class="fa-solid fa-up-right-from-square" data-fa-transform="shrink-6 up-4"></i></a>
            {% endif %}
        </li>
        <li class="list-group-item">Substitution: {{ object.get_substitution_display }}</li>
        <li class="list-group-item">Vendor: <a href="{{ object.approved_vendors.get_absolute_url }}">{{ object.approved_vendors }}</a></li>
        <li class="list-group-item">Last Price: {{ object.last_price }}</li>
    </ul>
</div>

{% endblock %}
