{% extends "purchases/layout.html" %}
{% block title %}
List of Products
{% endblock %}
{% block content %}
    <h2>All Products</h2>
    <p>{{ object_list.count }}</p>
    {% if object_list.count %}
    <div class="bd-example-snippet bd-code-snippet"><div class="bd-example">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Manufacturer</th>
            <th scope="col">Name</th>
            <th scope="col">Vendor</th>
            <th scope="col">Link</th>
            <th scope="col">ID</th>
            <th scope="col">Created Date</th>
          </tr>
          </thead>
          <tbody>
            {% for product in object_list %}
            <tr>
                <td>{{ product.original_manufacturer }}</td>
                <td>
                    {% comment %} <a href="{{ product.get_absolute_url }}">{{ product.name }}</a> {% endcomment %}
                    {{ product.name }}
                </td>
                {% if product.approved_vendors %}
                    <td><a href="{{ product.approved_vendors.get_absolute_url }}">{{ product.approved_vendors }}</a></td>
                {% else %}
                    <td>[none]</td>
                {% endif %}
                {% if product.link %}                        
                    <td><a href="{{ product.link }}">Product Link</a></td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ product.identifier }}</td>
                <td>{{ product.created_date }}</td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
        </div>
    </div>
    {% else %}
        <p>No products have been added. Use the <a href="{% url 'add_product' %}">Add Product</a> form</p>
    {% endif %}
{% endblock %}