{% extends 'purchases/detail_page.html' %}
{% load i18n %}
{% load purchases_extras %}
{% block title %}Purchase Request {{ object.number }}{% endblock %}
{% block header %}Purchase Request{% endblock %}
{% block number %}{{ object.number }}{% endblock %}
{% block previous %}{{ object.get_previous_by_created_date.get_absolute_url }}{% endblock %}
{% block next %}{{ object.get_next_by_created_date.get_absolute_url }}{% endblock %}
{% block edit %}{% url 'update_pr' slug=object.slug %}{% endblock %}
{% block delete %}{% url 'delete_pr' slug=object.slug %}{% endblock delete %}
{% block page %}

<style>
    .status-button {
        --bs-btn-color: #fff;
        --bs-btn-bg: #6c757d;
        --bs-btn-border-color: #6c757d;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #5c636a;
        --bs-btn-hover-border-color: #565e64;
        --bs-btn-focus-shadow-rgb: 130,138,145;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #565e64;
        --bs-btn-active-border-color: #51585e;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #6c757d;
        --bs-btn-disabled-border-color: #6c757d;
    }
</style>

{% include "purchases/status_change_button.html" with purchase_request=object %}

{% comment %} <a href="{% url 'generate_pdf' slug=object.slug %}">PDF</a> {% endcomment %}{% comment %}someday!!!{% endcomment %}

<div class="row mb-3">
    <div class="col-4">
        Created {{ object.created_date|date:"DATE_FORMAT" }}
    </div>
    <div class="col-12">
        <div class="bd-example-snippet bd-code-snippet">
            <div class="bd-example">
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="width: 10em" align="right">Needed By</td>
                            <td style="width: 30em">
                                {% if object.need_by_date %}
                                    {{ object.need_by_date }}
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                            <td style="width: 10em" align="right">Requestor</td>
                            <td><a href="{{ object.requisitioner.get_absolute_url }}">{{ object.requisitioner.user.get_full_name }}</a></td>
                        </tr>
                        <tr>
                            <td align="right">Vendor</td>
                            <td><a href="{{ object.vendor.get_absolute_url }}">{{ object.vendor }}</a></td>
                            <td align="right">Email</td>
                            <td><a href="mailto:{{ object.requisitioner.user.email }}">{{ object.requisitioner.user.email }}</a></td>
                        </tr>
                        <tr>
                            <td align="right" rowspan=2>Address</td>
                            <td rowspan=2>{{ object.vendor.street1 }}<br>
                                {% if object.vendor.street2 %}
                                    {{ object.vendor.street2 }}<br>
                                {% endif %}
                                {% if object.vendor.city %}
                                    {{ object.vendor.city }}, {{ object.vendor.state.abbreviation }} {{ object.vendor.zip }}
                                {% else %}
                                {% endif %}
                            </td>
                            <td align="right">Phone</td>
                            <td>{{ object.requisitioner.phone|default_if_none:"" }}</td>
                        </tr>
                        <tr>
                            <td align="right">Department</td>
                            <td>{{ object.requisitioner.department.code }}</td>
                        </tr>
                        <tr>
                            <td align="right">Phone</td>
                            <td>{{ object.vendor.phone }}</td>
                            {% if object.vendororder_set.count == 1 %}
                            <td align="right">Order</td>
                            <td>{{ object.vendororder_set.first|urlizeobject }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td align="right">Email</td>
                            <td><a href="mailto:{{ object.vendor.email }}">{{ object.vendor.email|default_if_none:"" }}</a></td>
                        </tr>
                        <tr>
                            <td align="right">Website</td>
                            <td><a href="{{ object.vendor.website }}" target="_blank" rel="noopener noreferrer">{{ object.vendor.website }}<i class="fa-solid fa-up-right-from-square" data-fa-transform="shrink-6 up-4"></i></a></td>
                        </tr>
                        <tr>
                            <td align="right">Shipping</td>
                            <td>
                                <table>
                                    {% for tracker in object.tracker_set.all %}
                                        <tr>
                                            <td>
                                                <a href="{% url "tracker_detail" tracker.pk %}">{{ tracker }}</a>
                                            </td>
                                            <td class="text-capitalize">
                                                Status: {{ tracker.status|default:"(unknown)"|camel_case_split }}
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr></tr>
                                    {% endfor %}
                                    {% if object.tracker_set.count %}
                                        <tr>
                                            <td>
                                                <a class="btn btn-secondary" href="{% urlquery 'tracker_list' 'purchase_request__id__exact' object.id %}">
                                                  Show Trackers
                                                </a>
                                            </td>
                                            <td>
                                              <a class="btn btn-secondary" href="{% urlquery 'create_tracker' 'purchase-request' object.slug %}">
                                                Create Tracker
                                              </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if debug %}<div class="alert alert-debug">debug ->count:{{ object.purchaserequestaccounts_set.count }}</div>{% endif %}
    <div class="col-12">
        <div class="h4">Budget</div>
        <div class="bd-example-snippet bd-code-snippet">
            <div class="bd-example">
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Program</th>
                        <th scope="col">Gift</th>
                        <th scope="col">Grant</th>
                        <th scope="col">Spend Category</th>
                        <th scope="col">Dist (% or $)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for budget in object.purchaserequestaccounts_set.all %}
                        <tr>
                            {% url 'accounts_detail' budget.accounts.pk as account_reverse %}
                                <td><a href="{{ account_reverse }}">{{ budget.accounts.program_workday }}</a></td>
                                <td><a href="{{ account_reverse }}">{{ budget.accounts.gift }}</a></td>
                                <td><a href="{{ account_reverse }}">{{ budget.accounts.grant }}</a></td>
                            <td>{{ budget.spend_category.code }}</td>
                            {% if budget.distribution_type == 'percent' %}
                                <td>{{ budget.distribution_input|percent:2 }}</td>
                            {% elif budget.distribution_type == 'amount' %}
                                <td>{{ budget.distribution_input|currency }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

    {% if debug %}<div class="alert alert-debug">debug ->count:{{ object.simpleproduct_set.count }}</div>{% endif %}
    <div class="col-12">
        <a href="{% url 'pr_filtered_simpleproducts' object.slug %}" class="h4">Items</a>
        <div class="bd-example-snippet bd-code-snippet">
            <div class="bd-example">
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 40%;">Description</th>
                        <th class="text-center" style="width: 10%;">Link</th>
                        <th class="text-center" style="width: 15%;">Identifier</th>
                        <th class="text-center">Manufacturer</th>
                        <th class="text-center" style="width:  5%;">QTY</th>
                        <th class="text-center" style="width: 10%;">Unit</th>
                        <th class="text-center" style="width: 10%;">Unit Price</th>
                        <th class="text-center" style="width: 10%;">Extended Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in object.simpleproduct_set.all|dictsort:"rank" %}
                        <tr>
                            <td>
                                <div>
                                    <span class="text-truncate copyText" id="{{ item.pk }}Description">{{ item.name }}</span>
                                </div>
                            </td>
                            {% if item.link %}
                                <td style="text-align: center;">
                                    <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">
                                        <i class="fa-solid fa-up-right-from-square" ></i>
                                    </a>
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td align="center">{{ item.identifier|default_if_none:"" }}</td>
                            <td>{{ item.manufacturer|default_if_none:"" }}</td>
                            <td align="center">{{ item.quantity|floatformat }}</td>
                            <td align="center">{{ item.unit.unit }}</td>
                            <td>{{ item.unit_price|usd_accounting:simpleproducts_unitprice_maxdigits }}</td>
                            <td>{{ item.extended_price.amount|usd_accounting }}</td>
                        </tr>
                    {% empty %}
                        <tr>Please edit Purchase Request to add items.</tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">&nbsp;</td>
                        <td colspan="3" class="text-end">Subtotal</td>
                        <td>{{ object.subtotal|usd_accounting }}</td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td colspan="3" class="text-end">Shipping</td>
                        <td>{{ object.shipping|usd_accounting }}</td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td colspan="3" class="text-end">Sales Tax ({{ object.sales_tax_rate|numeric2percent:2 }})</td>
                        <td>{{ object.sales_tax|usd_accounting }}</td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td colspan="3" class="text-end">Grand Total</td>
                        <td>{{ object.grand_total|usd_accounting }}</td>
                    </tr>
                </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="border">
        Why:
        {{ object.justification|linebreaks }}
    </div>
    <div><br></div>
    <div class="border">
        Special Instructions:
        {{ object.instruction|linebreaks }}
    </div>
</div>

{% block related_pr_table %}{% endblock related_pr_table %}
{% block related_simpleproduct_table %}{% endblock related_simpleproduct_table %}

{% comment %} <div id="django-debug"><pre>{% debug %}</pre></div> {% endcomment %}

<script>
    $('.copyButton').click(
        function(e)
        {
            e.preventDefault();
            alert("Not Implemented.");
        }
    )
</script>

{% endblock %}
