{% extends 'purchases/detail_page.html' %}
{% load purchases_extras %}
{% block title %}Purchase Request {{ object.number }}{% endblock %}
{% block header %}Purchase Request{% endblock %}
{% block number %}{{ object.number }}{% endblock %}
{% block previous %}{{ object.get_previous_by_created_date.get_absolute_url }}{% endblock %}
{% block next %}{{ object.get_next_by_created_date.get_absolute_url }}{% endblock %}
{% block edit %}{% url 'update_pr' slug=object.slug %}{% endblock %}
{% block delete %}{% url 'delete_pr' slug=object.slug %}{% endblock delete %}
{% block page %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="dropdown align-right">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ object.get_status_display }}
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'update_pr_status' slug=object.slug %}?status=awaiting-approval">Submit</a></li>
        <li><a class="dropdown-item" href="{% url 'update_pr_status' slug=object.slug %}?status=approved">Approved</a></li>
        <li><a class="dropdown-item" href="{% url 'update_pr_status' slug=object.slug %}?status=ordered">Ordered</a></li>
        <li><a class="dropdown-item" href="{% url 'update_pr_status' slug=object.slug %}?status=shipped">Shipped</a></li>
        <li><a class="dropdown-item" href="{% url 'update_pr_status' slug=object.slug %}?status=received">Received</a></li>
        <li><a class="dropdown-item" href="{% url 'update_pr_status' slug=object.slug %}?status=test">test</a></li>
    </ul>
</div>

{% comment %} <a href="{% url 'generate_pdf' slug=object.slug %}">PDF</a> {% endcomment %}{% comment %}someday!!!{% endcomment %}

<div class="row mb-3">
    <div class="col-4">
        Created {{ object.created_date|date:"DATE_FORMAT" }}
    </div>
    <div class="col-12">
        <div class="bd-example-snippet bd-code-snippet">
            <div class="bd-example">
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="width: 10em" align="right">Needed By</td>
                            <td style="width: 30em">
                                {% if object.need_by_date %}
                                    {{ object.need_by_date }}
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                            <td style="width: 10em" align="right">Requestor</td>
                            <td><a href="{{ object.requisitioner.get_absolute_url }}">{{ object.requisitioner.user.get_full_name }}</a></td>
                        </tr>
                        <tr>
                            <td align="right">Vendor</td>
                            <td><a href="{{ object.vendor.get_absolute_url }}">{{ object.vendor }}</a></td>
                            <td align="right">Email</td>
                            <td><a href="mailto:{{ object.requisitioner.user.email }}">{{ object.requisitioner.user.email }}</a></td>
                        </tr>
                        <tr>
                            <td align="right" rowspan=2>Address</td>
                            <td rowspan=2>{{ object.vendor.street1 }}<br>
                                {% if object.vendor.street2 %}
                                    {{ object.vendor.street2 }}<br>
                                {% endif %}
                                {% if object.vendor.city %}
                                    {{ object.vendor.city }}, {{ object.vendor.state.abbreviation }} {{ object.vendor.zip }}
                                {% else %}
                                {% endif %}
                            </td>
                            <td align="right">Phone</td>
                            <td>{{ object.requisitioner.phone|default_if_none:"" }}</td>
                        </tr>
                        <tr>
                            <td align="right">Department</td>
                            <td>{{ object.requisitioner.department.code }}</td>
                        </tr>
                        <tr>
                            <td align="right">Phone</td>
                            <td>{{ object.vendor.phone }}</td>
                        </tr>
                        <tr>
                            <td align="right">Email</td>
                            <td><a href="mailto:{{ object.vendor.email }}">{{ object.vendor.email|default_if_none:"" }}</a></td>
                        </tr>
                        <tr>
                            <td align="right">Website</td>
                            <td><a href="{{ object.vendor.website }}" target="_blank" rel="noopener noreferrer">{{ object.vendor.website }}<i class="fa-solid fa-up-right-from-square" data-fa-transform="shrink-6 up-4"></i></a></td>
                        </tr>
                        <tr>
                            <td align="right">Shipping</td>
                            <td>
                                <table>
                                    {% for tracker in object.tracker_set.all %}
                                        <tr>
                                            <td>
                                                {% if tracker.get_tracking_link %}
                                                    <a href="{{ tracker.get_tracking_link }}" target="_blank" rel="noopener noreferrer">
                                                        {{ tracker.carrier }} {{ tracker.tracking_number }}<i class="fa-solid fa-up-right-from-square" data-fa-transform="shrink-6 up-4"></i>
                                                    </a>
                                                {% else %}
                                                    {{ tracker.carrier }} {{ tracker.tracking_number }}
                                                {% endif %}
                                            </td>
                                            <td class="text-capitalize">
                                                Status: {{ tracker.status|default_if_none:"(unknown)"|camel_case_split }}
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr></tr>
                                    {% endfor %}
                                    {% if object.tracker_set.count %}
                                        <tr><td><a class="btn btn-secondary" href="{% url 'tracker_list' %}?purchase-request={{ object.slug }}">Show Trackers</a></td></tr>
                                    {% endif %}
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if debug %}<div>debug ->count:{{ object.purchaserequestaccounts_set.count }}</div>{% endif %}
    <div class="col-12">
        <div class="h4">Budget</div>
        <div class="bd-example-snippet bd-code-snippet">
            <div class="bd-example">
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Program</th>
                        <th scope="col">Gift</th>
                        <th scope="col">Grant</th>
                        <th scope="col">Spend Category</th>
                        <th scope="col">Dist (% or $)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for budget in object.purchaserequestaccounts_set.all %}
                        <tr>
                            <td>{{ budget.accounts.program_workday }}</td>
                            <td>{{ budget.accounts.gift }}</td>
                            <td>{{ budget.accounts.grant }}</td>
                            <td>{{ budget.spend_category.code }}</td>
                            {% if budget.distribution_type == 'percent' %}
                                <td>{{ budget.distribution_input|percent:2 }}</td>
                            {% elif budget.distribution_type == 'amount' %}
                                <td>{{ budget.distribution_input|currency }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

    {% if debug %}<div>debug ->count:{{ object.simpleproduct_set.count }}</div>{% endif %}
    <div class="col-12">
        <div class="bd-example-snippet bd-code-snippet">
            <div class="bd-example">
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 40%;">Description</th>
                        <th class="text-center" style="width: 10%;">Link</th>
                        <th class="text-center" style="width: 15%;">Identifier</th>
                        {% comment %} <th class="text-center" style="width: 10%;">Vendor ID</th> {% endcomment %}
                        <th class="text-center" style="width:  5%;">QTY</th>
                        <th class="text-center" style="width: 10%;">Unit</th>
                        <th class="text-center" style="width: 10%;">Unit Price</th>
                        <th class="text-center" style="width: 10%;">Extended Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in object.simpleproduct_set.all %}
                        <tr>
                            <td class="text-truncate">{{ item.name }}</td>
                            {% if item.link %}
                                <td style="text-align: center;">
                                    <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">
                                        <i class="fa-solid fa-up-right-from-square" ></i>
                                    </a>
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td align="center">{{ item.identifier|default_if_none:"" }}</td>
                            {% comment %} <td align="center">{{ item.vendor_number|default_if_none:"" }}</td> {% endcomment %}
                            <td align="center">{{ item.quantity|floatformat }}</td>
                            <td align="center">{{ item.unit.unit }}</td>
                            <td align="right">{{ item.unit_price|currency }}</td>
                            <td align="right">{{ item.extended_price }}</td>
                        </tr>
                    {% empty %}
                        <tr>Please edit Purchase Request to add items.</tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">&nbsp;</td>
                        <td colspan="3" class="text-end">Subtotal</td>
                        <td align="right">{{ object.subtotal }}</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="3" class="text-end">Shipping</td>
                        <td align="right">{{ object.shipping }}</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="3" class="text-end">Sales Tax ({{ object.sales_tax_rate|numeric2percent:2 }})</td>
                        <td align="right">{{ object.sales_tax }}</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="3" class="text-end">Grand Total</td>
                        <td align="right">{{ object.grand_total }}</td>
                    </tr>
                </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="border">
        Why:
        {{ object.justification|linebreaks }}
    </div>
    <div><br></div>
    <div class="border">
        Special Instructions:
        {{ object.instruction|linebreaks }}
    </div>
</div>

{% block related_pr_table %}{% endblock related_pr_table %}
{% block related_simpleproduct_table %}{% endblock related_simpleproduct_table %}
{% comment %} <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre> {% endcomment %}

{% endblock %}
