{% extends "purchases/list_page.html" %}
{% load purchases_extras %}
{% block title %}
  Home
{% endblock title %}
{% block header %}
  Purchase Requests
{% endblock header %}
{% block new_url %}
  {% url 'new_pr' %}
{% endblock new_url %}
{% block page %}
<div>
  <a href="{% url "generate_csv" %}" class="save btn btn-primary col-2">Purchase Requests CSV</a>
  <a href="{% url "generate_csv_vendors" %}" class="save btn btn-primary col-2">Vendors CSV</a>
  <a href="{% url "generate_csv_items" %}" class="save btn btn-primary col-2">Items CSV</a>
</div>
  {% include "purchases/purchaserequest_list_table.html" with purchase_requests=purchase_requests %}
  <script>
    $(document).ready( function () {
      var table = $('#purchase_requests').DataTable({
        order: [[1, "desc"]],
        responsive: true,
        "language": {
          emptyTable: "No records to show, check your filters if any..."
        },
        searchPanes: {
          layout: 'columns-1',
          i18n: {
            emptyPanes: null
          },
        },
        columnDefs: [
          { orderable: false, targets: 6 },
          { visible: false, targets: 4 },
          { searchPanes: {
             className: "openPRClass"
            },
            targets: 4,
          }
        ],
        dom: '<"dtsp-dataTable"Pprtilp>',
        pageLength: 25
      });
      table.searchPanes()
      let verticalPanes = $("div.dtsp-verticalPanes");
      let verticalContainer = table.searchPanes.container()
      verticalPanes.append(verticalContainer);
      if (verticalContainer.hasClass("dtsp-hidden")) {
        verticalPanes.remove()
      }
    });
  </script>
{% endblock page %}
