{% extends "purchases/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}

  <div class="row mb-3">
    <h1 class="wsu-c-heading col-sm">All <span class="header-em">Purchase Requests</span></h1>
    <a href="{% url 'new_pr' %}" class="save btn btn-primary col-2">New</a>
  </div>

    {% if object_list %}
    <div class="bd-example-snippet bd-code-snippet"><div class="bd-example">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Requisitioner</th>
            <th scope="col">Number</th>
            <th>Vendor</th>
            <th>Status</th>
            <th>Total</th>
            <th>Shipping Status</th>
          </tr>
          </thead>
          <tbody>
            {% for o in object_list %}
                <tr>
                    <td>{{ o.requisitioner }}</td>
                    <td><a href="{{ o.get_absolute_url }}">{{ o.number }}</a></td>
                    <td><a href="{{ o.vendor.get_absolute_url }}">{{ o.vendor }}</a></td>
                    <td>{{ o.get_status_display }}</td>
                    <td>{{ o.grand_total }}</td>
                    <td>{{ o.tracker.status }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    
    <div class="pagination container">
      <div class="step-links row">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
            {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </div>
    </div>
    {% else %}
        <p>No manufacturers have been added. Use the <a href="{% url 'add_mfg' %}">Add Manufacturer</a> form</p>
    {% endif %}
{% endblock %}