{% extends "purchases/list_page.html" %}
{% load purchases_extras %}
{% block title %}
Simple Products
{% endblock %}
{% block header %}Simple Products{% endblock header %}
{% comment %} {% block new_url %}{% url 'add_vendor' %}{% endblock new_url %} {% endcomment %}

{% block page %}
<div class="col">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Vendor</th>
                <th>Part Number</th>
                <th>Manufacturer</th>
                <th>Unit Price</th>
                <th>Purchase Request</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for o in object_list %}
                <tr>
                    {% if o.link %}
                        <td><a href="{{ o.link }}" target="_blank" rel="noopener noreferrer">{{ o.name|truncatechars:35 }}<i class="fa-solid fa-up-right-from-square" data-fa-transform="shrink-6 up-4"></i></a></td>
                    {% else %}
                        <td>{{ o.name|truncatechars:35 }}</td>
                    {% endif %}
                    
                    {% if o.purchase_request.vendor.website %}                        
                        <td><a href="{{ o.purchase_request.vendor.website }}" target="_blank" rel="noopener noreferrer">{{ o.purchase_request.vendor.name }}<i class="fa-solid fa-up-right-from-square" data-fa-transform="shrink-6 up-4"></i></a></td>
                    {% else %}
                        <td>{{ o.vendor.name }}</td>
                    {% endif %}
                    <td>{{ o.identifier|default_if_none:"" }}</td>
                    <td>{{ o.manufacturer|default_if_none:"" }}</td>
                    <td>{{ o.unit_price|usd_accounting:unitprice_maxdigits }}</td>
                    <td><a href="{{ o.purchase_request.get_absolute_url }}">{{ o.purchase_request.number }}</a></td>
                    <td><a href="{% url 'copy_simpleproduct' pk=o.pk %}"><i class="fa-solid fa-copy"></i></a></td>
                </tr>
            {% empty %}
                <tr><td colspan="7" class="text-center">No products matching filters.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}