{% extends "purchases/list_page.html" %}
{% load purchases_extras %}
{% block title %}
  Simple Products
{% endblock title %}
{% block header %}
  Simple Products
{% endblock header %}
{% comment %} {% block new_url %}{% url 'add_vendor' %}{% endblock new_url %} {% endcomment %}
{% block page %}
  <div class="dtsp-verticalContainer">
    <div class="dtsp-verticalPanes"></div>
    <div class="container">
      <table class="display nowrap" id="simple_items" width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Vendor</th>
            <th>P/N</th>
            <th>MFG</th>
            <th>Price</th>
            <th>Request</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for o in simpleproduct %}
            <tr>
              {% if o.link %}
                <td>
                  <a href="{{ o.link }}" target="_blank" rel="noopener noreferrer">{{ o|truncatechars:35 }}<i class="fa-solid fa-up-right-from-square"
   data-fa-transform="shrink-6 up-4"></i></a>
                </td>
              {% else %}
                <td>{{ o|truncatechars:35 }}</td>
              {% endif %}
              <td>
                <a href="{{ o.purchase_request.vendor.get_absolute_url }}">{{ o.purchase_request.vendor }}</a>
              </td>
              <td>{{ o.identifier|default_if_none:"" }}</td>
              <td>{{ o.manufacturer|default_if_none:"" }}</td>
              <td>{{ o.unit_price|usd_accounting:unitprice_maxdigits }}</td>
              <td>
                <a href="{{ o.purchase_request.get_absolute_url }}">{{ o.purchase_request }}</a>
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a href="{% url 'copy_simpleproduct' pk=o.pk %}"><i class="fa-solid fa-copy"></i></a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <script>
    $(document).ready( function () {
      var table = $('#simple_items').DataTable({
        order: [[1, "asc"], [2, "asc"], [0, "asc"]],
        responsive: true,
        "language": {
          emptyTable: "No records to show, check your filters if any..."
        },
        searchPanes: {
          layout: 'columns-1',
          i18n: {
            emptyPanes: null
          }
        },
        columnDefs: [
          { orderable: false, targets: 6}
        ],
        dom: '<"dtsp-dataTable"prtilp>',
        pageLength: 25,
      });
      table.searchPanes()
      let verticalPanes = $("div.dtsp-verticalPanes");
      let verticalContainer = table.searchPanes.container()
      verticalPanes.append(verticalContainer);
      if (verticalContainer.hasClass("dtsp-hidden")) {
        verticalPanes.remove()
      }

    });
  </script>
{% endblock page %}
