{% extends "purchases/list_page.html" %}
{% load purchases_extras %}
{% block title %}
Home
{% endblock %}
{% block header %}Holders{% endblock header %}
{% block new_url %} {% url 'admin:tool_compatibility_holder_add' %} {% endblock new_url %}
{% block page %}

<style>
  .inline {
    --bs-btn-padding-y: 0rem
}

</style>
    {% if object_list %}
    <div class="bd-example-snippet bd-code-snippet"><div class="bd-example">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Description</th>
            <th>Part Number</th>
            <th>Manufacturer</th>
            <th>Machine Compatibility</th>
            <th>Designation</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            {% for o in object_list %}
            
                <tr>
                    <td>{{ o.description|urlizespecify:o.get_absolute_url }}</td>
                    <td>
                      <a href="{{ o.website }}" target="_blank" rel="noopener noreferrer">
                        {{ o.part_number }}<i class="fa-solid fa-up-right-from-square" data-fa-transform="shrink-6 up-4"></i>
                      </a>
                    </td>
                    <td>{{ o.manufacturer|urlizespecify:o.manufacturer.get_absolute_url }}</td>
                    <td>{{ o.get_machine_type_display }}</td>
                    <td>{{ o.designation.abbreviation }}</td>
                    <td>
                      <a href="{% url 'admin:tool_compatibility_holder_history' o.pk %}"><i class="fa-solid fa-clock-rotate-left"></i></a>
                      <a href="{% url 'admin:tool_compatibility_holder_change' o.pk %}"><i class="fa-solid fa-pencil"></i></a>
                      <a href="{% url 'admin:tool_compatibility_holder_delete' o.pk %}"><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                </tr>
            {% empty %}
                <tr>Please add a holder <a href="#">here</a>.</tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

    {% else %}
        <p>No manufacturers have been added. Use the <a href="{% url 'new_pr' %}">Add Purchase Request</a> form</p>
    {% endif %}
{% endblock %}