{% extends "purchases/list_page.html" %}
{% load purchases_extras %}
{% block title %}Trackers{% endblock %}
{% block header %}
  Trackers
{% endblock header %}
{% block new_url %}
  {% url 'create_tracker' %}
{% endblock new_url %}
{% block page %}
  {% include "purchases/tracker/tracker_list_table.html" with tracker_list=object_list %}
  <script>
    $(document).ready( function () {
      var table = $('#trackers').DataTable({
        "language": {
          emptyTable: "No records to show, check your filters if any..."
        },
        searchPanes: {
          layout: 'columns-1',
          i18n: {
            emptyPanes: null
          }
        },
        columnDefs: [
          {
            targets: [3],
            render: function ( data, type, row ) {
              return data.length > 10 ?
                data.substr( 0, 10 ) + "&hellip;" :
                data;
            }
          },
          {
            targets: [7],
            render: DataTable.render.datetime('Do MMM YYYY')
          }
        ],
        dom: '<"dtsp-dataTable"frtip>',
        pageLength: 20
      });
      table.searchPanes()
      let verticalPanes = $("div.dtsp-verticalPanes");
      verticalPanes.append(table.searchPanes.container());
      if ($("dtsp-hidden")) {
        verticalPanes.remove()
      }

    });
  </script>
{% endblock %}
