{% extends 'purchases/layout.html' %}
{% block title %}Detail{% endblock %}
{% block content %}

{% block navigation %}
    <div class="row mb-3">
        <h1 class="wsu-c-heading col-sm">{% block header %}{% endblock %} <span class="header-em">{% block number %}{% endblock %}</span></h1>
        
        {% comment %} {% block post_header %}{% endblock post_header %} {% endcomment %}

        <div class="btn-group col-3" role="group" aria-label="Navigation">
            <a href="{% block previous %}{% endblock %}" class="btn btn-secondary">Previous</a>
            <a href="{% block edit %}{% endblock %}" class="btn btn-secondary">Edit</a>
            <a href="{% block delete %}{% endblock %}" class="btn btn-secondary">Delete</a>
            <a href="{% block next %}{% endblock %}" class="btn btn-secondary">Next</a>
        </div>
    </div>
{% endblock navigation %}

{% block page %}{% endblock %}



{% block related_setupsheet_table %}
{% if debug %}<div>debug ->count:{{ object.setupsheet_set.count }}</div>{% endif %}
    <div class="col-12">
        <div class="h2">Related Setup Sheets</div>
            <div class="bd-example-snippet bd-code-snippet">
                <div class="bd-example">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th>Part Revision</th>
                                <th>User</th>
                                <th scope="col">Sheet Revision</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in object.setupsheet_set.all %}
                                <tr>
                                    <td><a href="{{ row.get_absolute_url }}">{{ row }}</a></td>
                                    <td>{{ row.part_revision.revision }}</td>
                                    <td>{{ row.created_by.get_full_name }}</td>
                                    <td>{{ row.revision }}</td>
                                    <td>{{ row.operation }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% comment %} </div> {% endcomment %}
{% endblock related_setupsheet_table %}



{% endblock %}