{% extends "purchases/layout.html" %}
{% comment %} {% load widget_tweaks %} {% endcomment %}
{% block title %}Add Part Revision{% endblock %}

{% block content %}

<div class="container mt-4">
  <form method="post">
    {% csrf_token %}
    <div class="card col">
      <div class="card-header">
        <h4>Create <span class="header-em">Revision</span></h4>
      </div>
      <div class="card-body">
        {{ form.non_form_errors }}
        <table>
          {{ form.as_table }}
        </table>
      </div>
    </div>
    <div class="mt-3 mb-5">
      <button type="submit" class="save btn btn-primary">Save</button>
    </div>
  </form>
</div>

{% comment %} <div id="django-debug"><pre>{% debug %}</pre></div> {% endcomment %}

{% endblock %}
