{% extends "purchases/list_page.html" %}
{% block title %}
All Setup Sheets
{% endblock %}
{% block header %}Setup Sheets{% endblock header %}
{% block new_url %}{% url 'create_new_setup_sheet' %}{% endblock new_url %}

{% block page %}
  <div class="col">
    <table class="table table-striped">
      <thead>
        <tr>
            <th class="text-center">Part Number</th>
            <th class="text-center">Revision</th>
            <th class="col-auto">Name</th>
            <th>Operation</th>
            <th class="col-auto">Program Name</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        {% for v in object_list %}
        <tr>
            <td class="text-center">{{ v.part.number }}</td>
            <td class="text-center">{{ v.part_revision.revision }}</td>
            <td><a href="{{ v.get_absolute_url }}">{{ v.name }}</a></td>
            <td>{{ v.operation }}</td>
            <td>{{ v.program_name }}</td>
            <td class="text-center">
              <a href="{% url 'admin:setup_sheets_setupsheet_change' v.pk %}"><i class="fa-solid fa-pencil px-1"></i></a>
              <a href="{% url 'admin:setup_sheets_setupsheet_delete' v.pk %}"><i class="fa-solid fa-trash-can px-1"></i></a>
            </td>
        </tr>
        {% empty %}
          <tr><td colspan="100%">No setup sheets match filters.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
